<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270100978955-5ie0ao7qnku7r58g1jni12vdq7gkl32d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270100978955-5ie0ao7qnku7r58g1jni12vdq7gkl32d</string>
	<key>API_KEY</key>
	<string>AIzaSyAqvijxzwL6xRQcnUs3WKN7nFEzHqf_JZM</string>
	<key>GCM_SENDER_ID</key>
	<string>270100978955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personelTakip</string>
	<key>PROJECT_ID</key>
	<string>personel-takip-d4fe4</string>
	<key>STORAGE_BUCKET</key>
	<string>personel-takip-d4fe4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270100978955:ios:dc2475ef5ff3530727d60e</string>
</dict>
</plist>